.chat{
    display: flex;
    flex-direction: column;
    flex:0.65;
}
.chat-header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;

}
.chat-header-info{
    flex: 1;
    padding-left: 20px;
}
.chat-header-info > h3{
    margin-bottom: 3px;
    font-weight:500;
}
.chat-header-info>p{
    color: gray;
}
.chat-body{
  flex:1;
  background-image: url(https://imgs.search.brave.com/PQ2lzfvMadqRpMHLTAGxyCHzRTIT5sS2vKnWHU2QAk0/rs:fit:750:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDQ0MTA3/MjEuanBn);  
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chat-body::-webkit-scrollbar {
    display: none;
  }
.chat-message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}
.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat_name{
    position: absolute;
    top : -15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat-receiver{
    margin-left: auto;
    background-color: #dcf8d6;
}
.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat-footer > form{
    flex :1;
    display: flex;
}
.chat-footer > form>input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
.chat-footer > form>button{
    display: none;
}
.chat-footer >.MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}